<div class="d-flex justify-content-between flex-wrap">
    <% posts.each do |post| %>
        <div class="d-block p-2 col-md-4">
            <div class="square-image rounded border">
                <%= link_to image_tag(post.image_data), post_path(post[:id]) %>
            </div>
        </div>
    <% end %>
</div>