<h1>InstaBlam!</h1>

<div class="row justify-content-md-center">
  <div class="col-8">
    <% @posts.each do |post| %>
      <div>
        <p>
          <%= render 'partials/image_card_full', post: post %>
        </p>
      </div>
    <% end %>
  </div>
</div>